$max-width: 1000px;

.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.ship-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
    color: white;
    padding: 1rem 1rem;
    text-decoration: none;
}

.load-more-container{
    display: flex;
    justify-content: center;
}

button{
    border: none;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
    padding: 0.6rem 1rem;
}