<div class="logo-bar">
    <div class="logo-wrapper">
        <img src="assets\download.webp" alt="starWars logo">
    </div>

    <div class="auth-actions">
        @if (user()) {
            <button (click)="logout()"><strong>LOG OUT</strong></button>
        } @else {
            <button [routerLink]="['/login']"><strong>LOG IN</strong></button>
            <span class="separator">//</span>
            <button [routerLink]="['/register']"><strong>SIGN UP</strong></button>
        }
    </div>
</div>